---
import Link from '../components/Link.astro'
import { buttonVariants } from '../components/ui/button'
import type { Link as SocialLink } from '../consts'
import { SOCIAL_LINKS } from '../consts'
import { cn } from '../lib/utils'
import { Icon } from 'astro-icon/components'

interface Props {
  links?: SocialLink[]
  className?: string
}

const { links = SOCIAL_LINKS, className = '' } = Astro.props

const icons = {
  GitHub: 'fa6-brands:github',
  LinkedIn: 'fa6-brands:linkedin',
  Email: 'fa6-solid:envelope',
  RSS: 'fa6-solid:rss',
}

const getSocialLink = ({ href, label }: SocialLink) => ({
  href: label === 'Email' ? `mailto:${href}` : href,
  ariaLabel: label,
  iconName:
    icons[label as keyof typeof icons] || 'lucide:message-circle-question',
})
---

<ul class={cn('flex flex-wrap gap-2', className)} role="list">
  {
    links.map((link) => {
      const { href, ariaLabel, iconName } = getSocialLink(link)
      return (
        <li>
          <Link
            href={href}
            aria-label={ariaLabel}
            title={ariaLabel}
            class={buttonVariants({ variant: 'outline', size: 'icon' })}
          >
            <Icon name={iconName} class="h-4 w-4" />
          </Link>
        </li>
      )
    })
  }
</ul>
